<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jupiter</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="jupiter">
    <div class="contenido">
        <h1>Jupiter</h1>
        <img src="/img/jupiter.jpg" alt="Jupiter" >
        <p>Jupiter es el planeta mas grande del sistema solar. Es un gigante gaseoso y tiene una gran tormenta llamada la Gran Mancha Roja. Tiene 79 lunas y las cuatro mas grandes se llaman Io, Europa, Ganymedes y Calisto.</p>
        <a href="/menu" class="volver">← Volver al menu</a>
    </div>
</body>
</html>