<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Solar</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body class="menu-principal">
    <div class="contenido">
        <h1>Bienvenido al Sistema Solar</h1>
        
        <div class="imagen">
            <img src="/img/Sistema.jpg" alt="Sistema Solar">
        </div>
        
        <p>Selecciona un planeta para conocerlo</p>
        
        <div class="menu">
            <a href="/mercurio" class="boton">Mercurio</a>
            <a href="/venus" class="boton">Venus</a>
            <a href="/tierra" class="boton">Tierra</a>
            <a href="/marte" class="boton">Marte</a>
            <a href="/jupiter" class="boton">Jupiter</a>
            <a href="/saturno" class="boton">Saturno</a>
            <a href="/urano" class="boton">Urano</a>
            <a href="/neptuno" class="boton">Neptuno</a>
        </div>
    </div>
</body>
</html>